%html
  %head
    %title PNS - Devices
    %meta{:charset => "utf-8"}
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/css/bootstrap-theme.css", :rel => "stylesheet"}
    
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => '/'} PNS
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => '/'}Home
            %li.active
              %a{:href => '/devices'}Devices
            %li
              %a{:href => '/add'}Add
              
    .container.page-header                   
      %h3 List of all available devices:
      
    .container
      %table.table.table-striped
        %thead
          %th #
          %th Owner
          %th Operating System
        %tbody
          - @devices.each_with_index do |device, index|
            %tr
              %td= index + 1
              %td= device.owner
              %td= device.os
        
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}    
%script{:src => "/js/bootstrap.js"}